.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.topBox {
  background-color: #003366;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  flex: 0 1 100px;
  color: white;
}

.mainContent {
  display: flex;
  flex: 1;
  background-color: #f9f9f9;
}

.leftSide {
  width: 250px;
  background-color: #A1D8E6;
  padding: 20px;
  color: #003366;
}

.header {
  margin-bottom: 30px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.navItem {
  color: #003366;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
  line-height: 1.8;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.navItem:hover {
  background-color: #0077b6;
  color: white;
}

.rightSide {
  flex: 1;
  padding: 20px;
}

.mainSection {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.sectionTitle {
  font-size: 24px;
  margin-bottom: 20px;
  color: #003366;
}

.inputField {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.textArea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  height: 100px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.imageBox {
  height: 150px;
  background-color: #d0e6f7;
  border-radius: 8px;
  border: 2px solid #0077b6;
}

.bottomBox {
  background-color: #003366;
  color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  flex: 0 1 100px;
}
